.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 50px;
}

.header-navigation {
  position: relative;
  top: -3px;
}

.header-navigation-list {
  /*  не менять местами все all: unset;*/
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
}

.header-navigation-list-item-look {
  padding-left: 6px;
}

.header-navigation-list-item-about {
  position: relative;
  left: 3px;
  padding-left: 6px;
}

.header-logo-link {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 148px;
  height: 105px;
}

.header-logo-link-img {
  position: relative;
  top: 0.5px;
  left: 0.5px;
  height: 100%;
  transform: scaleX(0.995) scaleY(1.005);
}

.header-contacts {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  margin-left: -3px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header-contacts-tel {
  position: relative;
  top: -2px;
  right: -0.5px;
}

.header-contacts-mail {
  position: relative;
  top: -2.5px;
  right: 0px;
}

.header-contacts-adress {
  position: relative;
  top: -2px;
  right: -1px;
}

.cover {
  position: relative;
  padding: 0px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: left -135.5px top 0.8px;
  background-size: cover;
}

.cover-title {
  position: relative;
  z-index: 1;
  padding-top: 165px;
  color: white;
  font-weight: 700px;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 1.9rem;
  text-transform: uppercase;
}

.cover-title-left {
  display: block;
  margin-bottom: 20px;
  text-align: start;
}

.cover-title-center {
  display: block;
  margin-right: -30.5px;
  margin-bottom: 20px;
  text-align: center;
}

.cover-title-right {
  margin-right: -30.5px;
  margin-bottom: 20px;
  text-align: end;
  text-wrap: balance;
}

.cover-description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 107.5px;
  color: white;
}

.cover-content {
  all: unset;
  display: block;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.cover-button {
  all: unset;
  margin-top: -1px;
  border: solid white 1px;
  padding: 11px 32px 11px 32px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 0px 24px;
}

.lots-title {
  all: unset;
  display: inline-block;
  margin-top: 0.5px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots-list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots-item {
  all: unset;
}

.lots-item-link {
  all: unset;
}

.lots-item-link-card {
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots-item-title {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
  color: white;
  font-weight: 700px;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.19rem;
  text-transform: uppercase;
}

.lots-item-text {
  position: relative;
  z-index: 1;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 40px;
  color: white;
  font-weight: 400px;
  font-size: 20px;
  line-height: 1.2;
}

.card-type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card-type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots-look-more-link {
  all: unset;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3rem;
}

.about {
  display: grid;
  grid-template-columns: 314px auto;
  margin: 120px 24px 0px 24px;
  padding: 35px 0px 0px 47px;
}

.about-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about-logo-img {
  display: inline-block;
  width: 148px;
}

.about-information {
  margin-top: 0px;
}

.about-information-title {
  all: unset;
  display: block;
  margin-top: 100px;
  margin-bottom: 76px;
  margin-left: -2px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about-information-text {
  display: inline-block;
  margin-top: 24px;
  margin-left: -2px;
  padding-right: 3px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 181px 0 0 0;
  padding: 0 50px 82px 50px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  gap: -2px;
  max-width: 265px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.footer-contacts-adress {
  padding-top: 1px;
  padding-left: 1px;
}

.footer-navigation {
  font-size: 18px;
}

.footer-navigation-item {
  all: unset;
  display: block;
  text-align: center;
}

.footer-socials {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  width: 240px;
}

.logo-socials {
  width: 48px;
}
