.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.navigation__list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
  font-weight: 400;
  font-size: 18px;
  list-style: circle;
  /*  не менять местами все all: unset;*/
}

.navigation__list-item_no-bulit {
  list-style-type: none;
}

.navigation__list-item-link_active {
  text-decoration: none;
}

.header__logo-link {
  display: inline-block;
  width: 148px;
  height: 105px;
}

.header__logo-link-img {
  height: 100%;
  transform: scaleX(0.995) scaleY(1.005);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 0px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding-top: 155px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.35;
  letter-spacing: 1.9rem;
  text-transform: uppercase;
}

.cover__title-item_align-left {
  display: block;
  text-align: start;
}

.cover__title-item_align-center {
  display: block;
  /* -0.3 сказано сделать в комментах */
  margin-right: -0.3em;
  text-align: center;
}

.cover__title-item_align-right {
  display: block;
  /* -0.3 сказано сделать в комментах */
  margin-right: -0.3em;
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 97.5px;
  color: white;
}

.cover__description-text {
  all: unset;
  display: block;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.cover__description-button {
  all: unset;
  margin-top: -1px;
  border: solid white 1px;
  padding: 11px 32px 11px 32px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  margin: 180px 24px 0px 24px;
}

.lots__title {
  all: unset;
  display: inline-block;
  margin-top: 0.5px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots__list-item {
  all: unset;
}

.lots__list-item-link {
  all: unset;
}

.lots__list-item-link-card {
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots__list-item-link-card-title {
  position: relative;
  z-index: 1;
  margin-top: 48px;
  margin-right: 40px;
  margin-left: 40px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.19rem;
  text-transform: uppercase;
}

.lots__list-item-link-card-text {
  position: relative;
  z-index: 1;
  margin-right: 40px;
  margin-bottom: 48px;
  margin-left: 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__list-item-link-card_type-film {
  background-image: url("../images/card-lot-01.jpg");
  background-size: 165% 100%;
}

.lots__list-item-link-card_type-book {
  background-image: url("../images/card-lot-02.jpg");
  background-size: 160% 100%;
}

.lots__list-item-link-card_type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__link {
  all: unset;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3rem;
}

.about {
  display: grid;
  grid-template-columns: 312px auto;
  margin: 120px 24px 0px 24px;
  padding: 35px 0px 0px 47px;
}

.about__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-link-img {
  display: inline-block;
  width: 148px;
}

.about__information-title {
  all: unset;
  display: block;
  margin-top: 100px;
  margin-right: 2px;
  margin-bottom: 76px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__information-text {
  display: inline-block;
  margin-top: 24px;
  margin-right: 5px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  margin-top: 180px;
  margin-bottom: 80px;
}

.footer__contacts_align-left {
  justify-self: start;
  max-width: 242px;
  margin-left: 50px;
}

.footer__navigation-list_align-center {
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 2px;
  list-style: none;
}

.footer__socials-list {
  all: unset;
  display: flex;
  justify-self: end;
  justify-content: space-between;
  gap: 48px;
  list-style-type: none; 
  margin-right: 50px;
}

.footer__socials-link-logo {
  width: 48px;
}